body {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: #000000;
}

h1 {
    color: azure;
    font-weight: bolder;
    padding-top: 30px; 
    padding-bottom: 10px;
}

h5 {    
    text-align: center;
    font-style: italic;
    padding-bottom: 70px;
    color: azure;
}

.flex-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
}

.btn-ver{    
    text-align: center;
    padding: 70px;
}

